button {
  color: #fff;
  background-color: #24a79a;
}
button:hover {
  background-color: #238c83;
}
a {
  color: #4199f8;
}
.contacts-container{
  /* scrollbar-width: thin; */
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}

.contact-card:hover{
  background-color: #202c33;
  cursor: pointer;
}